@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-orange-100 transition ease-linear font-sans h-screen flex flex-col justify-center items-center;
}

.greeting__card {
    @apply max-w-sm mx-auto mb-8 flex p-4 bg-white rounded-lg shadow-xl;
}

.greeting__card-col {
    @apply ml-4 self-center;
}

.greeting__card-heading {
    @apply font-bold text-lg text-orange-900;
}

.greeting__card-text {
    @apply text-base text-orange-300;
}

.img__wrap {
    @apply flex-shrink-0 self-center;
}

.img__size {
    @apply h-10 w-10;
}


.container {
    @apply flex flex-col justify-center items-center;
}

.btn {
    @apply w-44 h-14 font-bold rounded shadow-lg text-lg text-center mb-4 px-4 py-2 cursor-pointer transition translate-x-1 duration-700 ease-in-out;
}

.btn:focus {
    transform: scale(1.1)
}

.warning__action {
    @apply block sm:absolute inset-x-6 px-2;
}


.btn__warning {
    @apply text-xs px-4 py-2.5 font-semibold font-sans rounded-sm shadow-lg text-center bg-white text-red-500 tracking-wide transition ease-in-out duration-1000;
}


.btn__warning:hover{
    @apply text-white bg-red-900 transition translate-x-1 duration-100 ease-in-out;
}

.btn__warning-helper {
    @apply text-xs text-red-300 px-1 py-4;
}

.btn__orange {
    @apply bg-orange-200 text-orange-500;
}

.btn__orange:hover,
.btn__orange:focus-within {
    @apply bg-black text-orange-200;
}

.btn__orange-deep {
    @apply bg-orange-400 text-white;
}

.btn__orange-deep:hover,
.btn__orange-deep:focus-within {
    @apply bg-orange-300 text-orange-700;
}

.alert__box {
    @apply bg-orange-900 mt-12 border-r-4 border-orange-400 px-4 py-3 rounded relative my-6 transition translate-x-1 scale-100 duration-700 ;
}

.alert__notice {
    @apply font-bold text-orange-200;
}

.alert__info {
    @apply block sm:inline text-orange-400 text-sm;
}

.alert__box-visibility {
    @apply hidden;
}


.footer {
    @apply flex justify-center;
}

.footer__link {

    @apply text-sm font-medium font-sans text-orange-200 absolute bottom-0 p-8 xs:px-0;
}

.love__icon {
    /* @apply text-pink-600 text-lg hover:scale-110; */
    @apply w-6 object-cover inline;
    -webkit-text-stroke: 2px #7C2D12;
    animation: bubble 2s ease-in-out infinite backwards;
}

@keyframes bubble {
    0%{
        opacity: 0.4;
    }
    50%{
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}